include README.md
include LICENSE
include config.ini.example
include *.json
recursive-include alert-channels *.py
recursive-include alert-configs *.py
recursive-include custom-events-specification *.py